<h3>Dashboard informativo</h3>
<div class="grid-layout">
	<div class="card">
		<div class="card-header">
			<strong>Alunos cadastrados</strong>
		</div>
		<div class="card-body">
			<p class="card-text">O sistema conta com <span class="qnt-dado">{{alunosCadastrados}}</span> aluno(s)
				cadastrado(s).</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<strong>Pedagogos cadastrados</strong>
		</div>
		<div class="card-body">
			<p class="card-text">O sistema conta com <span class="qnt-dado">{{pedagogosCadastrados}}</span> pedagogo(s)
				cadastrado(s).</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<strong>Atendimentos pedagógicos</strong>
		</div>
		<div class="card-body">
			<p class="card-text">O sistema conta com <span class="qnt-dado">{{acompanhamentosCadastrados}}</span>
				atendimento(s) pedagógico(s)
				(abertos e concluídos somados).</p>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<strong>Atendimentos concluídos</strong>
		</div>
		<div class="card-body">
			<p class="card-text">O sistema calcula que <span class="qnt-dado">{{acompanhamentosConcluidos}}%</span> dos
				atendimentos pedagógicos já
				foram concluidos.</p>
		</div>
	</div>
</div>