nav {
  z-index: 2;
  --bs-navbar-active-color: #7749f8;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  flex: 0;
}

.nav-item.active {
	font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-info p {
  line-height: 2;
  margin: 0;
}
