<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">LabSchool Manager <i class="bi bi-clipboard-data"></i></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" routerLink="/labschool/inicio" routerLinkActive="active">Início</a>
				<a class="nav-item nav-link" routerLink="/labschool/alunos" routerLinkActive="active">Alunos</a>
				<a class="nav-item nav-link" routerLink="/labschool/acompanhamentos" routerLinkActive="active">Acompanhamentos</a>
			</div>
		</div>
		<div class="user-info">
			<p>Olá, <span>{{nomeUsuario}}</span>&nbsp;<i class="bi bi-person-circle"></i></p>
			<button class="btn btn-secondary" (click)="deslogar()">Sair</button>
		</div>
	</div>
</nav>