<h3>Alunos cadastrados</h3>
<div class="d-flex flex-row justify-content-between">
	<input type="text" name="nome" id="nome" class="form-control w-25" placeholder="nome do aluno"
		(input)="onInputChange($event)">
	<button class="btn btn-primary">Cadastrar aluno</button>
</div>
<hr>
<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Telefone</th>
			<th>CPF</th>
			<th>Data de Nascimento</th>
			<th>Nota</th>
		</tr>
	</thead>
	<tbody *ngFor="let aluno of alunosVisiveis">
		<tr>
			<td>{{aluno.nome}}</td>
			<td>{{aluno.telefone}}</td>
			<td>{{aluno.cpf}}</td>
			<td>{{aluno.dataNascimento}}</td>
			<td>{{aluno.nota}}</td>
		</tr>
	</tbody>
</table>
<nav aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" aria-label="Previous" (click)="atualizarAlunos(0)">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="page-item" *ngFor="let p of paginas">
			<a class="page-link" (click)="atualizarAlunos(p)">{{ p + 1 }}</a>
		</li>
		<li class="page-item">
			<a class="page-link" aria-label="Next" (click)="atualizarAlunos(paginas.length-1)">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>