.login-page {
  background-color: #7749f8;
  position: absolute;
  inset: 0;
}

.container-login {
  --padding: 4rem;
  position: absolute;
  inset: 5rem 10rem;
  max-width: 750px;
  /* margin-block: 5rem; */
  margin-inline: auto;
  padding: var(--padding) 6rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
