.login-page {
  background-color: #7749f8;
  min-height: 100vh;
  min-height: 100dvh;
}

.container-login {
  position: relative;
  width: 40%;
  margin-block: 5rem;
  margin-inline: auto;
  padding: 4rem 6rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 70vh;
  min-height: 70dvh;
}
